$sectionShadowAdapt: -1px 2px 16px 0px rgba(0,0,0,0.2);
$boxShadowInput: -1px 1px 3px 0px rgba(0,0,0,0.1);
$focusedBoxShadow: 0px 9px 20px rgba(#4B4848, 0.3);
$errorBackground: rgb(221, 94, 94);
$errorColor: rgb(104, 0, 0);
$sectionBackground: rgb(247, 247, 247);
$modalOpacityBackground: rgba(0, 0, 0, 0.747);
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin scrollbars($size, $foreground-color, $background-color: rgba(0, 0, 0, 0)) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }
    ::-webkit-scrollbar-track {
        background: $background-color;
    }
    body {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
}
body {
    font-family: helvetica;
    margin: 0;
}
main{
    @include flexColumn;
}
@include scrollbars(.5em, rgb(172, 172, 172));
section {
    @include flexColumn;
    background-color: $sectionBackground;
    width: 80vw;
    height: 70vh;
    margin: auto;
    -webkit-box-shadow: $sectionShadowAdapt;
    -moz-box-shadow: $sectionShadowAdapt;
    box-shadow: $sectionShadowAdapt;
    overflow:  scroll;
}
h1 {
    text-align: center;
}
button {
    //width: 150px;
    height: 40px;
    margin: 20px auto;
    padding: 1px 10px 2px;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
a {
    text-decoration: none;
}
label {
    margin: 20px 0 0 0;
}
input {
    border: 0;
    width: 300px;
    margin: 10px ;
    padding: 10px 20px;
    transition: all 0.4s ease;
    background: white;
    box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.1);
    &:focus {
      outline: none;
      box-shadow: $focusedBoxShadow;
    }
}
.error-msj {
    width: 350px;
    padding: 10px 20px;
    transition: all 0.4s ease;
    background: $errorBackground;
    box-shadow: $focusedBoxShadow;
    text-align: center;
    span {
        font-size: 12px;
        color:$errorColor;
    }
}
.main-container {
    width: 90%;
    height: 80%;
    margin: 30px 0px 30px 50px;
    overflow: scroll;
    font-size: 14px;
}
.row {
    display: grid;
    grid-template-columns: 23% 23% 23% 23% 8%;
    grid-template-rows: 50px;
    overflow-y: auto;
    div {
        overflow-y: auto;
    }
}
fa-trash-alt, fa-user-edit  {
    cursor: pointer;
    padding: 5px;
    color: black;
}
.input-container {
    @include flexColumn;
    .chars {
        font-size: 10px;
        margin-top: 4px;
        margin-right: 15px;
        color: rgb(71, 71, 71);
        align-self: flex-end;
    }
}
.search-bar {
    @include flexColumn;
    margin-top: 10px;
    // width: 90%;
}
// #bar-container {
//     display: grid;
//     grid-template-columns: 60% 20% 20%;
//     grid-template-rows: 50px;
// }
.modal-screen {
    width: 100%;
    height: 100vh; 
    background-color: $modalOpacityBackground;
    position: fixed;
}
.modal-card {
    @include flexColumn;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 15vh;
    left: 25%;
    h2 {
        margin-top: 40px;
    }
}
.hidden {
    display: none;
}
@media (max-width: 790px) {
    section {
        width: 90vw;
        height: 80vh;
    }
    .input-container {
        input {
            width: 90%;
        }
    }
    // #bar-container {
    //     input {

    //     }
    // }
}